*

!.gitignore

# Git
!.gitconfig

# Vim
!.vim
!.vim/**
.vim/undodir
.vim/.netrwhist
.vim/sessions/buffers.vim

!.vimrc
!.gvimrc

# aria2
!.aria2
!.aria2/**

# Bash
!.bash_profile
!.bashrc

!.bash_aliases
!.bash_functions
!.bash_miscs

# xinitrc
!.xinitrc

# .Xresources
!.Xresources

# readline
!.inputrc

# Xmodmap
!.Xmodmap

# Info
!.infokey

# mpv
!.config
!.config/mpv
!.config/mpv/mpv.conf
!.config/mpv/input.conf

# fontconfig
!.config/fontconfig
!.config/fontconfig/**

# python
!.pystartup

# conky
!.config/conky
!.config/conky/conky.conf

# redshift
!.config/redshift.conf

# dwm
!.dwm
!.dwm/autostart.sh

# zathura
!.config/zathura
!.config/zathura/zathurarc

# conkeror
!.conkerorrc

# qutebrowser
!.config/qutebrowser
!.config/qutebrowser/config.py
!.config/qutebrowser/nord-qutebrowser
!.local
!.local/share
!.local/share/qutebrowser
!.local/share/qutebrowser/userscripts
!.local/share/qutebrowser/userscripts/mangadex

# termux
!.termux
!.termux/colors.properties
!.termux/font.ttf
!.termux/termux.properties

!.local/bin
!.local/bin/termux-info

# xbindkey
!.xbindkeysrc

# .desktop files
!.local
!.local/share
!.local/share/applications
!.local/share/applications/mozilla-firefox.desktop
!.local/share/applications/qutebrowser.desktop
!.local/share/applications/rxvt-dir.desktop

# urxvt
!.urxvt
!.urxvt/**

# nzbget
!.nzbget

# tmux
!.tmux.conf

# gnupg
!.gnupg
!.gnupg/gpg.conf
!.gnupg/gpg-agent.conf

# bash-completion
!.bash_completion

# dquilt
!.quiltrc-dpkg

# vagrant
!.local/share/bash-completion
!.local/share/bash-completion/completions
!.local/share/bash-completion/completions/vagrant
!.local/share/bash-completion/completions/homestead

# gbp
!.gbp.conf

# guile
!.guile
