*

!.gitignore

# Git
!.gitconfig

# Vim
!.vim
!.vim/**

!.vimrc
!.gvimrc

# aria2
!.aria2
!.aria2/**

# Bash
!.bash_profile
!.bashrc

!.bash_aliases
!.bash_functions
!.bash_miscs

# xinitrc
!.xinitrc

# .Xresources
!.Xresources

# readline
!.inputrc

# Xmodmap
!.Xmodmap

# Info
!.infokey

# mpv
!.config
!.config/mpv
!.config/mpv/mpv.conf

# fontconfig
!.config/fontconfig
!.config/fontconfig/**

# python
!.pystartup

# conky
!.config/conky
!.config/conky/conky.conf

# redshift
!.config/redshift.conf

# dwm
!.dwm
!.dwm/autostart.sh

# zathura
!.config/zathura
!.config/zathura/zathurarc

# conkeror
!.conkerorrc

# qutebrowser
!.config/qutebrowser
!.config/qutebrowser/config.py

# termux
!.termux
!.termux/colors.properties
!.termux/font.ttf
