[submodule ".vim/pack/colors/start/bubblegum"]
	path = .vim/pack/colors/start/bubblegum
	url = https://github.com/baskerville/bubblegum.git
	ignore = dirty
[submodule ".vim/pack/pkg/opt/vim-misc"]
	path = .vim/pack/pkg/opt/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule ".vim/pack/pkg/opt/vim-session"]
	path = .vim/pack/pkg/opt/vim-session
	url = https://github.com/xolox/vim-session.git
[submodule ".vim/pack/pkg/opt/airline"]
	path = .vim/pack/pkg/opt/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/pkg/opt/airline-themes"]
	path = .vim/pack/pkg/opt/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
