$include /etc/inputrc

# Set various nice escape sequences:

# for rxvt
"\e[7~": beginning-of-line
"\e[8~": end-of-line

# Colorize file-completion.
set colored-stats On

# Case insensitive completion.
set completion-ignore-case On

# Search through history:
"\C-n": history-search-forward
"\C-p": history-search-backward
# down
"\e[B": history-search-forward
# up
"\e[A": history-search-backward
